.git/
.idea/
venv/

__pycache__/
ProjectFiles/StepPreparations/__pycache__/
ProjectFiles/StepPreparations/StepCheckingFunctions/__pycache__/
ProjectFiles/ModelTraining/__pycache__/
ProjectFiles/ModelTraining/TrainingFunctions/__pycache__/

ProjectFiles/DatasetFiles/